:root {
  --clr-one: #ffffff52;
  --clr-two: rgb(127, 255, 0);
  --clr-three: rgb(138, 43, 226);
  --clr-bg: #1d1e22;
}

/* 
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
        body{
         color: rgb(150, 255, 150);
         background-color: rgb(25, 25, 25);
         font-family: "Fira Code", monospace;
         font-optical-sizing: auto;
         font-weight: 400;
         font-style: normal;
          text-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
         text-shadow: 0 0 5px rgba(150, 255, 150, 0.5);
        }
        p,h1{
         filter: blur(0.35px);
        } */

body{
 background-color: black;
 color: #00FF2B; 
 text-shadow: 0 0 7px #00ff2acc;
 font: 1.3rem 'Space Mono', monospace;
}

#home{
 display: flex;
 height: 100vh;
}

.text_glow--green{
  color: #00FF2B;
 text-shadow: 0 0 7px #00ff2acc;
}
.text_glow--yellow{
  color: #e9e280;
  text-shadow: 0 0 5px #e9e280bd;
}
.text_glow--white{
  color: white;
  text-shadow: 0 0 5px #ffffffbd;
}

/*======== 
  left bar 
  ========*/

/* #home #leftBar{
 height: 100vh;
 width: 20%;
 min-width: 220px;

  min-width: 20%; 
 width: 100%;
 border-right: 2px solid #00ff2aee;
 overflow-x: hidden;
  display: none; 
} */

#home #leftBar{
  height: 100vh;
  width: 20%;
  min-width: 220px;
  border-right: 2px solid #00ff2aee;
  overflow-x: hidden;
}

#leftBar>.user{
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #00ff2ac7;
  /* align-items: center; */
}

#leftBar>.user:hover{
 background-color: #00ff2a8f;
}

#leftBar>.user>.username{
  margin-top: 5px;
}

 #leftBar>.user:hover>.username{
  color: white;
} 

#leftBar >.user>img{
 width: 50px;
 height: 50px;
 margin-right: 10px;
 border-radius: 50%;
 object-fit: contain;
 border: 2px solid #00ff2adc; 
}

#leftBar >.user:hover>img{
  border: 2px solid #e9e280; 
}

/*============
chat container 
==============*/

#home >#chatContainer{
 height: 100vh;
 width: 100%;
 position: relative;
 /* display: none; */
}

#home >#chatContainer >.placeholder{
 color: white;
 text-shadow: 0 0 5px #ffffffbd;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
}

#home >#chatContainer >.user_chat--container {
  width: 100%;
}

#home >#chatContainer >.user_chat--container >.header{
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-bottom: 2px solid #e9e280;
}

#home >#chatContainer >.user_chat--container >.header >img{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 2px solid #00FF2B;
  object-fit: contain;
}

#home >#chatContainer >.user_chat--container >.header .user_info{
 margin-left: 5px;
 display: flex;
 flex-direction: column;
}

#home >#chatContainer >.user_chat--container >.header .status{
 font-size: 15px;
 color: #ffffffd5;
 text-shadow: none;
}

#home >#chatContainer >.user_chat--container >.msg_input--container{
 position: absolute;
 left: 50%;
 transform: translateX(-50%);
 bottom: 10px;
 width: 95%;
 height: 43px;
 border-radius: 20px;
 padding-inline: 15px;
 display: flex;
 align-items: center;
 justify-content: center;
 border: 2px solid #00ff2adc;
}

#home >#chatContainer >.user_chat--container >.msg_input--container> input{
 width: 100%;
 height: 30px;
 font-size: 20px;
 outline: none;
 border: none;
 background-color: black;
}

#home >#chatContainer >.user_chat--container >.msg_input--container> input::placeholder{
 text-shadow: none;
}

#home >#chatContainer >.user_chat--container .chat_box{
 display: flex;
 flex-direction: column;
 align-items: start;
 height: calc(100vh - 125px);
 overflow-y: scroll;
}

#home >#chatContainer >.user_chat--container .chat_box .message{
  margin: 10px 15px;
  padding: 10px 15px;
  max-width: 60%;
  border-radius: 15px;
  border: 2.5px solid white;
  -webkit-box-shadow:0px 0px 20px 7px #ffffff1a;
  -moz-box-shadow: 0px 0px 20px 7px #ffffff1a;
  box-shadow: 0px 0px 20px 7px #ffffff1a;
  -webkit-box-shadow: inset 0px 0px 10px 3px #ffffff1a;
  -moz-box-shadow: inset 0px 0px 10px 3px #ffffff1a;
  box-shadow: inset 0px 0px 10px 3px #ffffff1a;/* */

  /* border:white 0.125em solid;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em --clr-one; 
  box-shadow: inset 0 0 0.5em 0 var(--clr-one), 0 0 0.5em 0 var(--clr-one);*/
}

#home >#chatContainer >.user_chat--container .chat_box .message.self{
  align-self: flex-end;
  border: 2.5px solid #e9e280;
  -webkit-box-shadow:0px 0px 20px 7px #e9e2801a;
  -moz-box-shadow: 0px 0px 20px 7px #e9e2801a;
  box-shadow: 0px 0px 20px 7px #e9e2801a;
  -webkit-box-shadow: inset 0px 0px 10px 3px #e9e2801a;
  -moz-box-shadow: inset 0px 0px 10px 3px #e9e2801a;
  box-shadow: inset 0px 0px 10px 3px #e9e2801a;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  /* background: #e9e280; */
  background: #eee;
  border-radius: 10px;
}

/* .neon-button__1 {
  color: var(--clr-one);
  border: var(--clr-one) 0.125em solid;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em --clr-one;
  box-shadow: inset 0 0 0.5em 0 var(--clr-one), 0 0 0.5em 0 var(--clr-one);
} */

/*======== 
 REGISTER
==========*/

#register{
 height: 100vh;
 width: 100vw;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 position: relative;
}

/* #register >*,input{
  border: 2px solid red;
} */

#register h1{
 margin-bottom: 20px;
}

#register .skull>svg{
 font-size: 5.5rem;
}

#register form{
  display: flex;
  font-size: 30px;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
 }
 
#register form>div{
  padding-bottom: 5px;
  margin-block: 15px;
  display: flex;
  justify-content: center;
  border-bottom:2px solid #e9e280d7;
  position: relative;
 }

 #register form>div::before{
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  /* background-color: #e9e280; */
  background-color: #00FF2B;
  left: 50%;
  bottom: -2px;
  z-index: 1;
  transform: translateX(-50%);
  transition: all 300ms ease-in-out;
 }

 #register form>div:hover::before{
 width: 100%;
 }

#register form svg{
  margin-right: 10px;
 }
 
#register form input{
 color: white;
 font-size: 20px;
 border: none;
 background-color: transparent;
 outline: none;
 }

 #register form input::placeholder{
  text-shadow: none;
 }
 
#register form button{
  font-size: 20px;
  border: none;
  padding-block: 5px;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #00FF2B;
  border-radius: 4px;
 }
 
#register form button:hover{
  transform: scale(1.02);
 }
#register form button:active{
  transform: scale(1);
 }
 
#register .selectDp{
 position: absolute;
 height: 500px;
 width: 500px;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 text-align: center;
 background-color: #000000c5;
 /* border: 2px solid #00FF2B; */
 border: 2px solid #e9e280;
 border-radius: 3px;
 backdrop-filter: blur(3px);
}

#register .selectDp h2{
 margin-block: 10px;
}

#register .selectDp >.pic_container{
  position: relative;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #00FF2B;
 }

#register .selectDp .effect_container{
  position: relative;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #000;
 }

#register .selectDp img{
 width: 200px;
 height: 200px;
 border-radius: 50%;
 object-fit: contain;
}

#register .selectDp img.effect_img{
 position: absolute;
 top: 0%;
 left: 0%;
 opacity: 0.5;
 transform: translate(0%,0%);
 z-index: 1;
 animation: glitch 1.5s step-start infinite;
}

#register .selectDp >.pic_container .add_btn{
 color: #e9e280;
 position: absolute;
 bottom: 12px;
 right: 27px;
 display: flex;
 align-items: center;
 justify-content: center;
 height: 20px;
 width: 20px;
 background-color: #000;
 border: 1px solid #00FF2B;
 border-radius: 50%;
 z-index: 2;
}

#register .selectDp > .option_btns{
 display: flex;
 width: 270px;
}

#register .selectDp > .option_btns button{
 width: 100%;
 height: 40px;
 margin: 5px;
 border: none;
 color: #000;
 font-size: 20px;
 border-radius: 2px;
 text-transform: uppercase;
}


#register .selectDp > .option_btns .btn_can{
 background-color: #e9e280;
}

#register .selectDp > .option_btns .btn_can:hover{
 background-color: #cac46f;
}

#register .selectDp > .option_btns .btn_sel{
 background-color: #00FF2B;
}
#register .selectDp > .option_btns .btn_sel:hover{
 color: white;
}

#register span.link{
  color: white;
  font-size: 18px;
  text-shadow: none;
  opacity: 0.88;
  margin-top: 8px;
  filter: blur(0.5px);
}

#register span.link a{
  color: #00FF2B;
}

/*==============
  meida query
================*/
@media (max-width:500px) {
  #home{
   position: relative;
  }

  #home #leftBar{
   width: 100vw;
   display: none;
  }

  #home #leftBar.active{
   width: 100vw;
   display: block;
  }

  #home >#chatContainer{
    width: 100vw;
    z-index: 1;
    border: 2px solid red ;
    display: none;
   }

  #home >#chatContainer.active{
    width: 100vw;
    z-index: 1;
    border: 2px solid red ;
    display: flex;
   }
}


/*=============
ANIMATONS
===============*/

@keyframes glitch{
  0%{
   transform: translate( 0px, 0px);
   filter: hue-rotate(0deg);
  }
  10%{
   transform: translate(0px, 0px);
   filter: hue-rotate(0deg);
  }
  20%{
   transform: translate(-10px, 0px);
   filter: hue-rotate(90deg);
  }
  30%{
   transform: translate(2px, -2px);
   filter: hue-rotate(140deg);
  }
  40%{
   transform: translate(-15px, 6px);
   filter: hue-rotate(140deg);
  }
  60%{
   transform: translate(3px, 0px);
   filter: hue-rotate(200deg);
  }
  70%{
   transform: translate(10px, 0px);
   filter: hue-rotate(30deg);
  }
  80%{
   transform: translate(0px, 0px);
   filter: hue-rotate(0deg);
  }
 
  100%{
   transform: translate(0px, 0px);
   filter: hue-rotate(0deg);
  }
}